{% extends "geonode-mapstore-client/snippets/custom_theme.html" %}
{% block content %}
<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet" />
<style>
  :root {
    --gn-font-family-sans-serif: "Montserrat", sans-serif;
    --gn-font-family-serif: Georgia, "Times New Roman", Times, serif;
    --gn-font-family-monospace: Menlo, Monaco, Consolas, "Courier New",
      monospace;
    --gn-font-family-base: "Montserrat", sans-serif;
    --gn-main-color: #141414;
    --gn-main-bg: #f8f8f8;
    --gn-main-border-color: #e0e0e0;
    --gn-main-variant-color: #141414;
    --gn-main-variant-bg: #e0e0e0;
    --gn-main-hover-color: #0d0d0d;
    --gn-main-hover-bg: #eaeaea;
    --gn-placeholder-color: #545454;
    --gn-placeholder-bg: #e0e0e0;
    --gn-disabled-color: #545454;
    --gn-disabled-bg: #e0e0e0;
    --gn-primary: #052e16;
    --gn-info: #2172b3;
    --gn-success: #2d8c4e;
    --gn-warning: #e0a30b;
    --gn-danger: #d1453b;
    --gn-primary-contrast: #ffffff;
    --gn-info-contrast: #ffffff;
    --gn-success-contrast: #ffffff;
    --gn-warning-contrast: #ffffff;
    --gn-danger-contrast: #ffffff;
    --gn-link-color: #005f99;
    --gn-link-hover-color: #004070;
    --gn-image-color: #dedede;
    --gn-image-bg: #333333;
    --gn-focus-color: rgba(5, 46, 22, 0.4);
    --gn-footer-color: #141414;
    --gn-footer-bg: #eaeaea;
    --gn-footer-link-color: #005f99;
    --gn-footer-link-hover-color: #004070;
    --gn-badge-color: #141414;
    --gn-badge-bg: #e0e0e0;
    --gn-loader-color: #141414;
    --gn-loader-fade-color: rgba(20, 20, 20, 0.2);
    --gn-loader-primary-contrast-color: #ffffff;
    --gn-loader-primary-contrast-fade-color: rgba(255, 255, 255, 0.2);
    --gn-loader-primary-color: #052e16;
    --gn-loader-primary-fade-color: rgba(5, 46, 22, 0.2);
    --gn-jumbotron-color: #333333;
    --gn-jumbotron-bg: #e0e0e0;
    --gn-timeline-selected-bg: rgba(5, 46, 22, 0.05);
    --gn-timeline-histogram-bg: rgba(5, 46, 22, 0.5);
    --gn-timeline-histogram-color: #2172b3;
    --gn-timeline-range-bg: rgba(20, 20, 20, 0.2);
    --gn-timeline-playback-range-bg: rgba(45, 140, 78, 0.2);
    --gn-button-color: #141414;
    --gn-button-bg: #e0e0e0;
    --gn-button-action-border-color: #d0d0d0;
    --gn-button-border-color: #e0e0e0;
    --gn-button-focus-color: #141414;
    --gn-button-focus-bg: #dedede;
    --gn-button-focus-border-color: #dedede;
    --gn-button-hover-color: #0d0d0d;
    --gn-button-hover-bg: #dcdcdc;
    --gn-button-hover-border-color: #dcdcdc;
    --gn-button-active-color: #0d0d0d;
    --gn-button-active-bg: #dcdcdc;
    --gn-button-active-border-color: #dcdcdc;
    --gn-button-active-hover-color: #0d0d0d;
    --gn-button-active-hover-bg: #cacaca;
    --gn-button-active-hover-border-color: #cacaca;
    --gn-button-disabled-color: #8c8c8c;
    --gn-button-disabled-bg: #e0e0e0;
    --gn-button-disabled-border-color: #e0e0e0;
    --gn-button-badge-color: #141414;
    --gn-button-badge-bg: #e0e0e0;
    --gn-button-primary-color: #ffffff;
    --gn-button-primary-bg: #052e16;
    --gn-button-primary-border-color: #052e16;
    --gn-button-primary-focus-color: #ffffff;
    --gn-button-primary-focus-bg: #3e624b;
    --gn-button-primary-focus-border-color: #1e5d33;
    --gn-button-primary-hover-color: #ffffff;
    --gn-button-primary-hover-bg: #3e624b;
    --gn-button-primary-hover-border-color: #3a5d40;
    --gn-button-primary-active-color: #ffffff;
    --gn-button-primary-active-bg: #3e624b;
    --gn-button-primary-active-border-color: #3a5d40;
    --gn-button-primary-active-hover-color: #ffffff;
    --gn-button-primary-active-hover-bg: #34664a;
    --gn-button-primary-active-hover-border-color: #1e5d33;
    --gn-button-primary-disabled-color: #141414;
    --gn-button-primary-disabled-bg: #e0e0e0;
    --gn-button-primary-disabled-border-color: #e0e0e0;
    --gn-button-primary-badge-color: #052e16;
    --gn-button-primary-badge-bg: #ffffff;
    --gn-button-info-color: #ffffff;
    --gn-button-info-bg: #2172b3;
    --gn-button-info-border-color: #2172b3;
    --gn-button-info-focus-color: #ffffff;
    --gn-button-info-focus-bg: #3dafff;
    --gn-button-info-focus-border-color: #008df0;
    --gn-button-info-hover-color: #ffffff;
    --gn-button-info-hover-bg: #3dafff;
    --gn-button-info-hover-border-color: #33abff;
    --gn-button-info-active-color: #ffffff;
    --gn-button-info-active-bg: #3dafff;
    --gn-button-info-active-border-color: #33abff;
    --gn-button-info-active-hover-color: #ffffff;
    --gn-button-info-active-hover-bg: #19a0ff;
    --gn-button-info-active-hover-border-color: #008df0;
    --gn-button-info-disabled-color: #4a4a4a;
    --gn-button-info-disabled-bg: #dcedf9;
    --gn-button-info-disabled-border-color: #dcedf9;
    --gn-button-info-badge-color: #2172b3;
    --gn-button-info-badge-bg: #ffffff;
    --gn-button-success-color: #ffffff;
    --gn-button-success-bg: #2d8c4e;
    --gn-button-success-border-color: #2d8c4e;
    --gn-button-success-focus-color: #ffffff;
    --gn-button-success-focus-bg: #5cff92;
    --gn-button-success-focus-border-color: #10ff5f;
    --gn-button-success-hover-color: #ffffff;
    --gn-button-success-hover-bg: #5cff92;
    --gn-button-success-hover-border-color: #52ff8b;
    --gn-button-success-active-color: #ffffff;
    --gn-button-success-active-bg: #5cff92;
    --gn-button-success-active-border-color: #52ff8b;
    --gn-button-success-active-hover-color: #ffffff;
    --gn-button-success-active-hover-bg: #38ff7a;
    --gn-button-success-active-hover-border-color: #10ff5f;
    --gn-button-success-disabled-color: #292929;
    --gn-button-success-disabled-bg: #f7fef9;
    --gn-button-success-disabled-border-color: #f7fef9;
    --gn-button-success-badge-color: #2d8c4e;
    --gn-button-success-badge-bg: #ffffff;
    --gn-button-warning-color: #ffffff;
    --gn-button-warning-bg: #e0a30b;
    --gn-button-warning-border-color: #e0a30b;
    --gn-button-warning-focus-color: #ffffff;
    --gn-button-warning-focus-bg: #ffce3d;
    --gn-button-warning-focus-border-color: #f0b300;
    --gn-button-warning-hover-color: #ffffff;
    --gn-button-warning-hover-bg: #ffce3d;
    --gn-button-warning-hover-border-color: #ffcc33;
    --gn-button-warning-active-color: #ffffff;
    --gn-button-warning-active-bg: #ffce3d;
    --gn-button-warning-active-border-color: #ffcc33;
    --gn-button-warning-active-hover-color: #ffffff;
    --gn-button-warning-active-hover-bg: #ffc519;
    --gn-button-warning-active-hover-border-color: #f0b300;
    --gn-button-warning-disabled-color: #212121;
    --gn-button-warning-disabled-bg: #f9f2dc;
    --gn-button-warning-disabled-border-color: #f9f2dc;
    --gn-button-warning-badge-color: #e0a30b;
    --gn-button-warning-badge-bg: #ffffff;
    --gn-button-danger-color: #ffffff;
    --gn-button-danger-bg: #d1453b;
    --gn-button-danger-border-color: #d1453b;
    --gn-button-danger-focus-color: #ffffff;
    --gn-button-danger-focus-bg: #ff4e42;
    --gn-button-danger-focus-border-color: #f41000;
    --gn-button-danger-hover-color: #ffffff;
    --gn-button-danger-hover-bg: #ff4e42;
    --gn-button-danger-hover-border-color: #ff4538;
    --gn-button-danger-active-color: #ffffff;
    --gn-button-danger-active-bg: #ff4e42;
    --gn-button-danger-active-border-color: #ff4538;
    --gn-button-danger-active-hover-color: #ffffff;
    --gn-button-danger-active-hover-bg: #ff2d1e;
    --gn-button-danger-active-hover-border-color: #f41000;
    --gn-button-danger-disabled-color: #292929;
    --gn-button-danger-disabled-bg: #fae2e0;
    --gn-button-danger-disabled-border-color: #fae2e0;
    --gn-button-danger-badge-color: #d1453b;
    --gn-button-danger-badge-bg: #ffffff;
    --gn-button-tray-color: #141414;
    --gn-button-tray-bg: #e0e0e0;
    --gn-button-tray-border-color: #052e16;
    --gn-button-tray-focus-color: #141414;
    --gn-button-tray-focus-bg: #cacaca;
    --gn-button-tray-focus-border-color: #3e624b;
    --gn-button-tray-hover-color: #141414;
    --gn-button-tray-hover-bg: #cacaca;
    --gn-button-tray-hover-border-color: #2a5d40;
    --gn-button-tray-active-color: #141414;
    --gn-button-tray-active-bg: #cacaca;
    --gn-button-tray-active-border-color: #2a5d40;
    --gn-button-tray-active-hover-color: #141414;
    --gn-button-tray-active-hover-bg: #b3b3b3;
    --gn-button-tray-active-hover-border-color: #3e624b;
    --gn-button-tray-disabled-color: #141414;
    --gn-button-tray-disabled-bg: #dedede;
    --gn-button-tray-disabled-border-color: #dedede;
    --gn-button-tray-badge-color: #e0e0e0;
    --gn-button-tray-badge-bg: #141414;
  }

  #gn-hero .gn-hero-description {
    color: #fff;
  }
</style>
{% endblock %}
